.card-container {
	display: grid;

	place-content: center;
	grid-template-columns: auto auto auto;
}

.card {
	display: grid;
	align-self: center;
	justify-content: center;
	height: fit-content;
	border-radius: 10px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.367);
	padding: 1.5rem;
	margin: 1rem;
	color: var(--text-color);
}

.card .card-title {
	text-align: center;
	padding: 1rem;
}

.card .card-image {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	justify-self: center;
}

.card .card-item-container {
	display: flex;
	flex-direction: row;
	justify-self: center;
}

.card .card-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
}
